In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# Combinación de objetos
## Añadir nuevas filas

In [2]:
names = pd.read_csv('data/names.csv')
names

       Name  Age
0  Cornelia   70
1     Abbas   69
2  Penelope    4
3      Niko    2

In [3]:
names.loc[len(names)] = ['Aria', 1]
names

       Name  Age
0  Cornelia   70
1     Abbas   69
2  Penelope    4
3      Niko    2
4      Aria    1

In [4]:
names.loc['five'] = ['Zach', 3]
names

          Name  Age
0     Cornelia   70
1        Abbas   69
2     Penelope    4
3         Niko    2
4         Aria    1
five      Zach    3

In [5]:
names.loc[len(names)] = {'Name':'Zayd', 'Age':22}
names

          Name  Age
0     Cornelia   70
1        Abbas   69
2     Penelope    4
3         Niko    2
4         Aria    1
five      Zach    3
6         Zayd   22

In [6]:
names.append([{'Name':'Zayd', 'Age':4}, {'Name':'Zayd', 'Age':5}], ignore_index=True)

       Name  Age
0  Cornelia   70
1     Abbas   69
2  Penelope    4
3      Niko    2
4      Aria    1
5      Zach    3
6      Zayd   22
7      Zayd    4
8      Zayd    5

## Concatenando Dataframes

In [7]:
stocks_2016 = pd.read_csv('data/stocks_2016.csv', index_col='Symbol')
stocks_2016

        Shares  Low  High
Symbol
AAPL        80   95   110
TSLA        50   80   130
WMT         40   55    70

In [8]:
stocks_2017 = pd.read_csv('data/stocks_2017.csv', index_col='Symbol')
stocks_2017

        Shares  Low  High
Symbol
AAPL        50  120   140
GE         100   30    40
IBM         87   75    95
SLB         20   55    85
TXN        500   15    23
TSLA       100  100   300

In [9]:
s_list = [stocks_2016, stocks_2017]
# Uno de bajo del otro, el orden importa de los elementos de la lista
pd.concat(s_list)

        Shares  Low  High
Symbol
AAPL        80   95   110
TSLA        50   80   130
WMT         40   55    70
AAPL        50  120   140
GE         100   30    40
IBM         87   75    95
SLB         20   55    85
TXN        500   15    23
TSLA       100  100   300

In [10]:
# Añadiendo dos niveles de índices, uno año y otro symbol el índice del original
# Uno a continuación de otro
pd_concat =  pd.concat(s_list, keys=['2016', '2017'], names=['Year', 'Symbol'])
pd_concat

             Shares  Low  High
Year Symbol
2016 AAPL        80   95   110
     TSLA        50   80   130
     WMT         40   55    70
2017 AAPL        50  120   140
     GE         100   30    40
     IBM         87   75    95
     SLB         20   55    85
     TXN        500   15    23
     TSLA       100  100   300

In [11]:
#Deshaciendo
pd_concat.rename({2: "Type"}, axis='columns')
pd_concat.stack().rename_axis(['Year', 'Symbol', 'Type']).reset_index(name='Values')

    Year Symbol    Type  Values
0   2016   AAPL  Shares      80
1   2016   AAPL     Low      95
2   2016   AAPL    High     110
3   2016   TSLA  Shares      50
4   2016   TSLA     Low      80
5   2016   TSLA    High     130
6   2016    WMT  Shares      40
7   2016    WMT     Low      55
8   2016    WMT    High      70
9   2017   AAPL  Shares      50
10  2017   AAPL     Low     120
11  2017   AAPL    High     140
12  2017     GE  Shares     100
13  2017     GE     Low      30
14  2017     GE    High      40
15  2017    IBM  Shares      87
16  2017    IBM     Low      75
17  2017    IBM    High      95
18  2017    SLB  Shares      20
19  2017    SLB     Low      55
20  2017    SLB    High      85
21  2017    TXN  Shares     500
22  2017    TXN     Low      15
23  2017    TXN    High      23
24  2017   TSLA  Shares     100
25  2017   TSLA     Low     100
26  2017   TSLA    High     300

In [12]:
# Sinnmilar al anterior, pero el nuevo nivel de índice en las columnas
pd.concat(s_list, keys=['2016', '2017'], axis='columns', names=['Year', None])

Year     2016                2017
       Shares   Low   High Shares    Low   High
Symbol
AAPL     80.0  95.0  110.0   50.0  120.0  140.0
TSLA     50.0  80.0  130.0  100.0  100.0  300.0
WMT      40.0  55.0   70.0    NaN    NaN    NaN
GE        NaN   NaN    NaN  100.0   30.0   40.0
IBM       NaN   NaN    NaN   87.0   75.0   95.0
SLB       NaN   NaN    NaN   20.0   55.0   85.0
TXN       NaN   NaN    NaN  500.0   15.0   23.0

## Uniendo varios datasets por columnas

In [13]:
names = ['prices', 'transactions']
food_tables = [pd.read_csv('data/food_{}.csv'.format(name)) for name in names]
food_prices, food_transactions = food_tables

In [14]:
food_prices

     item store  price  Date
0    pear     A   0.99  2017
1    pear     B   1.99  2017
2   peach     A   2.99  2017
3   peach     B   3.49  2017
4  banana     A   0.39  2017
5  banana     B   0.49  2017
6   steak     A   5.99  2017
7   steak     B   6.99  2017
8   steak     B   4.99  2015

In [15]:
food_transactions

   custid     item store  quantity
0       1     pear     A         5
1       1   banana     A        10
2       2    steak     B         3
3       2     pear     B         1
4       2    peach     B         2
5       2    steak     B         1
6       2  coconut     B         4

In [16]:
food_transactions.merge(food_prices, on=['item', 'store'])


## Connecting to SQL databases

   custid    item store  quantity  price  Date
0       1    pear     A         5   0.99  2017
1       1  banana     A        10   0.39  2017
2       2   steak     B         3   6.99  2017
3       2   steak     B         3   4.99  2015
4       2   steak     B         1   6.99  2017
5       2   steak     B         1   4.99  2015
6       2    pear     B         1   1.99  2017
7       2   peach     B         2   3.49  2017