In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# An√°lisis de Series de Tiempo
## Diferencias entre Python y Pandas

In [2]:
# Python
import datetime
date = datetime.date(year=2013, month=6, day=7)
time = datetime.time(hour=12, minute=30, second=19, microsecond=463198)
dt = datetime.datetime(year=2013, month=6, day=7,
                       hour=12, minute=30, second=19, microsecond=463198)

print("date is ", date)
print("time is", time)
print("datetime is", dt)

date is  2013-06-07
time is 12:30:19.463198
datetime is 2013-06-07 12:30:19.463198

In [3]:
# Pandas
print(pd.Timestamp('2016/1/10'))
print(pd.Timestamp('2014-5/10'))
print(pd.Timestamp('Jan 3, 2019 20:45.56'))
print(pd.Timestamp('2016-01-05T05:34:43.123456789'))
print(pd.Timestamp('2016-01-05T05:34:43.123456789').year)

2016-01-10 00:00:00
2014-05-10 00:00:00
2019-01-03 20:45:33
2016-01-05 05:34:43.123456789
2016

In [4]:
#Convirtiendo datos a tiempo Pandas
s = pd.Series(['12-5-2015', '14-1-2013', '20/12/2017', '40/23/2017'])
pd.to_datetime(s, dayfirst=True, errors='coerce')

0   2015-05-12
1   2013-01-14
2   2017-12-20
3          NaT
dtype: datetime64[ns]

In [5]:
# Sumando tiempos
pd.Timestamp('1/1/2017') + pd.Timedelta('12 days 5 hours 3 minutes') * 2

Timestamp('2017-01-25 10:06:00')

## Slicing

In [6]:
aapl = pd.read_csv('data/aapl_stock.csv')
aapl['Date'] = aapl['Date'].astype(np.datetime64)
aapl = aapl.set_index('Date')

aapl.loc['2010-11-17']

Open      4.303000e+01
High      4.343000e+01
Low       4.254000e+01
Close     4.293000e+01
Volume    1.198624e+08
Name: 2010-11-17 00:00:00, dtype: float64

In [7]:
aapl.loc['2010']

             Open   High    Low  Close     Volume
Date
2010-11-17  43.03  43.43  42.54  42.93  119862407
2010-11-18  43.60  44.24  43.53  44.06  123622443
2010-11-19  44.00  44.06  43.61  43.82   96210793
2010-11-22  43.81  44.77  43.70  44.77   98268492
2010-11-23  44.35  44.54  43.79  44.10  129861284
2010-11-24  44.57  45.06  44.54  44.97  103568136
2010-11-26  44.82  45.39  44.71  45.00   59436237
2010-11-29  45.07  45.35  44.48  45.27  111439895
2010-11-30  44.79  44.91  44.41  44.45  125463303
2010-12-01  45.04  45.39  45.00  45.20  115437672
2010-12-02  45.36  45.57  44.98  45.45  115912916
2010-12-03  45.29  45.52  45.19  45.35   85592283
2010-12-06  45.52  46.05  45.49  45.74  112120127
2010-12-07  46.26  46.28  45.45  45.46   97863465
2010-12-08  45.66  45.86  45.30  45.86   80483501
2010-12-09  46.02  46.07  45.57  45.68   73536526
2010-12-10  45.66  45.86  45.51  45.79   65644243
2010-12-13  46.34  46.44  45.86  45.95  109953333
2010-12-14  45.96  46.08  45.57  45.76   87891762
2010-12-15  45.71  46.14  45.60  45.77  104327314
2010-12-16  45.87  46.09  45.73  45.89   80507098
2010-12-17  45.95  45.97  45.75  45.80   96787068
2010-12-20  45.94  46.18  45.46  46.03   96402194
2010-12-21  46.14  46.34  46.01  46.32   64087884
2010-12-22  46.34  46.53  46.22  46.45   66536029
2010-12-23  46.43  46.45  46.17  46.23   55875176
2010-12-27  46.12  46.49  45.93  46.38   62453699
2010-12-28  46.56  46.67  46.44  46.50   43980797
2010-12-29  46.60  46.64  46.44  46.47   40817672
2010-12-30  46.50  46.50  46.15  46.24   39414991
2010-12-31  46.14  46.21  45.90  46.08   48413827

In [8]:
aapl.loc['Dec 2015'].sort_index()

              Open    High     Low   Close    Volume
Date
2015-12-01  118.75  118.81  116.86  117.34  34700991
2015-12-02  117.34  118.11  116.08  116.28  33198964
2015-12-03  115.24  116.79  114.22  115.20  41569509
2015-12-04  115.29  119.25  115.11  119.03  57776977
2015-12-07  118.32  119.86  117.81  118.28  32084249
2015-12-08  117.52  118.60  116.86  118.23  34309450
2015-12-09  115.30  117.69  115.08  115.62  46361357
2015-12-10  116.04  116.94  115.51  116.17  29212727
2015-12-11  115.19  115.39  112.85  113.18  46886161
2015-12-14  112.18  112.68  109.79  112.48  64318732
2015-12-15  111.94  112.80  110.35  110.49  53323105
2015-12-16  111.07  111.99  108.80  111.34  56238467
2015-12-17  112.02  112.25  108.98  108.98  44772827
2015-12-18  108.91  109.52  105.81  106.03  96453327
2015-12-21  107.28  107.37  105.57  107.33  47590610
2015-12-22  107.40  107.72  106.45  107.23  32789367
2015-12-23  107.27  108.85  107.20  108.61  32657354
2015-12-24  109.00  109.00  107.95  108.03  13596680
2015-12-28  107.59  107.69  106.18  106.82  26704210
2015-12-29  106.96  109.43  106.86  108.74  30931243
2015-12-30  108.58  108.70  107.18  107.32  25213777
2015-12-31  107.01  107.03  104.82  105.26  40912316

In [9]:
aapl.loc['2015-3-4 22':'2016-1-1 23:45:00'].sort_index()

              Open    High     Low   Close    Volume
Date
2015-03-05  128.58  128.75  125.76  126.41  56517146
2015-03-06  128.40  129.37  126.26  126.60  72842060
2015-03-09  127.96  129.57  125.06  127.14  88528487
2015-03-10  126.41  127.22  123.80  124.51  68856582
2015-03-11  124.75  124.77  122.11  122.24  68938974
...            ...     ...     ...     ...       ...
2015-12-24  109.00  109.00  107.95  108.03  13596680
2015-12-28  107.59  107.69  106.18  106.82  26704210
2015-12-29  106.96  109.43  106.86  108.74  30931243
2015-12-30  108.58  108.70  107.18  107.32  25213777
2015-12-31  107.01  107.03  104.82  105.26  40912316

[210 rows x 5 columns]